<!--Jason McTaggart-->
<div class="row panel top-push">
    <div class="col-xs-12" ng-init="">
        <h1>Judge an Event</h1>

        <div ng-repeat="score in event.scores" class="container">
            <div class="col-xs-12 col-sm-6" ng-init="displayName=getDisplayName(competitors[score.userId])" >User: {{displayName}}</div>
            <div class="col-xs-12 col-sm-6">Score: {{score.value}}</div>
        </div>
        <form id="reportScoreForm" ng-submit="submit()">

            <p>* Indicates a required field.</p>
            <div class="form-group">
                <label for="user">User</label>
                <select id="user" name="user" class="form-control"
                        ng-model="newScore.userId"
                        ng-options="competitor.userId as getDisplayName(competitor) for (id, competitor) in competitors"
                        required>
                    <option value="">Select a User</option>
                </select>
            </div>
            <div class="form-group">
                <label for="value">Event State</label>
                <input id="value" class="form-control" type="number" placeholder="Score" ng-model="newScore.value" ng-required="true"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" ng-disabled="busy">Send Score</button>
            </div>
        </form>
    </div>
</div>