<!--Andrew Welton-->
<div class="row panel top-push">
    <div class="col-xs-12">
        <form id="createStageForm" ng-submit="submit()">
            <h1>Create a new Stage for {{comp.name}}</h1>
            <p>* Indicates a required field.</p>
            <div class="form-group">
                <label for="stageName">Stage Name *</label>
                <input id="stageName" class="form-control" type="text" placeholder="Stage Name" ng-model="stage.name"/>
            </div>
            <div class="form-group">
                <label for="stageState">Stage State</label>
                <select id="stageState" class="form-control" ng-model="stage.state" ng-init="stage.state='Upcoming'">
                    <option>Upcoming</option>
                    <option>In Progress</option>
                    <option>Finished</option>
                </select>
            </div>
            <div class="form-group">
                <label for="stageDescription">Stage Description</label>
                <input id="stageDescription" class="form-control" type="text" placeholder="Describe the Stage" ng-model="stage.description"/>
            </div>
            <div class="form-group">
                <label for="stageLocation">Stage Location</label>
                <input id="stageLocation" class="form-control" type="text" placeholder="Where is it?" ng-model="stage.location"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Create Stage</button>
            </div>
        </form>
    </div>
</div>