<!-- 
    frontend code for login and register page
    author: Timothy Engel
-->

<div class="login-container" id="login">

    <div class="alert alert-danger alert-dismissible" ng-show="error.enabled" role="alert">
        <button type="button" class="close" aria-label="Close" ng-click="error.enabled = false"><span aria-hidden="true">&times;</span></button>

        <!-- <strong>{{ error.title }}</strong> -->
        <!-- <div ng-bind-html="error.msg" style="display:inline;"></div> -->
        <div dynamic="error" style="display:inline;"></div>


        <!-- <a class="alert-link" ng-click="register()">register</a> -->
        <!-- <a class="alert-link" ng-click="register()"> {{ message }}</a> -->

    </div>
    <form class="jumbotron panel">
        
        <div class="form-group form-group-lg">
            <input type="text" class="form-control input-lg" placeholder="First Name" ng-hide="loginMode" class="ng-hide" ng-model="info.firstName">
        </div>
        <div class="form-group form-group-lg">
            <input type="text" class="form-control input-lg" placeholder="Last Name" ng-hide="loginMode" ng-model="info.lastName">
        </div>
        <div class="form-group form-group-lg">
            <input type="email" class="form-control input-lg" id="email" placeholder="Email" ng-model="info.email">
        </div>
        <div class="form-group form-group-lg">
            <input type="password" class="form-control input-lg" id="password" placeholder="Password" ng-model="info.password">
        </div>
        <div class="form-group form-group-lg">
            <input type="password" class="form-control input-lg" id="password2" ng-hide="loginMode" placeholder="Password Confirm" ng-model="info.password2">
        </div>
        

        <button type="submit" class="btn-lg btn-primary btn-block" ng-show="loginMode" ng-click="login()">Log in</button>
        <button class="btn btn-default btn-block" ng-show="loginMode" ng-click="register()">Register</button>

        <button type="submit" class="btn-lg btn-primary btn-block" ng-hide="loginMode" ng-click="register()">Register</button>
        <button class="btn btn-default btn-block" ng-hide="loginMode" ng-click="login()">Cancel</button>

        <!-- <button type="submit" class="btn-lg btn-primary btn-block">Log in</button>
        <a href="#/register" type="submit" ng-click="register()" class="btn btn-default btn-block">Register</a> -->
    </form>
</div>