/**
 * Styles for the comp-struct directive
 * Author: Jason McTaggart
 */
comp-struct > div{
  height:100%;
  width: 100%;
  top:0;
  position: relative;

  > canvas {
    position:absolute;
//    height: 100%;
//    width:100%;
  }
  > .stage-container {
    position: absolute;
    height: 100%;
    width:100%;
  }
  .stage {
    width:100%;
    padding: 0;

    &:first-of-type:not(:last-of-type)
    {
      .event-container {
        position: relative;
        top:0;
      }
    }

    &:last-of-type:not(:first-of-type)
    {
      .event-container {
        position: absolute;
        bottom: 0;
      }
    }

    &:not(:first-of-type):not(:last-of-type), &:first-of-type:last-of-type
    {
      .event-container{
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }

    }
  }
  .event-container {
    float:left
  }
  .event {
    width: 10px;
    max-width: 100%;
    margin: auto;
    height:100%;
    max-height: 20px;
    text-align: center;
    text-overflow: ellipsis;
  }
  &.detail {
    .event {
      height:100%;
      width:70px;
      background:skyblue;
      &.done {
        background: forestgreen;
      }
      p {
        height: 100%;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .event-container {
      padding-left: 5px;
      padding-right: 5px;
      &:first-of-type {
        padding-left: 0;
      }
      &:last-of-type {
        padding-right: 0;
      }
    }
    //    }
  }


}
