<!-- 
    frontend code for profile page
    author: Timothy Engel
-->
<div class="row panel profile">
	<div class="col-md-3">
		<div id="profileInfo">
			<div class="row" style="margin-right:auto;margin-left:auto;">
				<div id="avatar-blurred"></div>
				<div class="col-md-12 col-xs-6" id="avatar"></div>
				
				<div class="col-md-12 col-xs-6">
					<h3>{{user.firstName}} {{user.lastName[0]}}.</h3>
					<p>{{user.username}}</p>
					<p>{{user.email}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div id="profileStats" class="row">
			<div class="col-md-6 col-xs-6" style="text-align: center;">
				<span class="glyphicon glyphicon-list" aria-hidden="true" style="font-size:7em;color:green;"></span>
				<h1 style="padding:0;margin:0">46</h1>
				<small>Competitions Owned</small>
			</div>
			<div class="col-md-6  col-xs-6" style="text-align: center;">
				<span class="glyphicon glyphicon-fire" aria-hidden="true" style="font-size:7em;color:crimson;"></span>
				<h1 style="padding:0;margin:0">46</h1>
				<small>Competitions Won</small>
			</div>
		</div>

		<div class="row">
			<div class="page-header">
				<h3>Bio
					<button ng-hide="bioEditMode" ng-show="extras" class="btn btn-success pull-right" id="edit" ng-click="editBio()">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;Edit
					</button>
				</h3>
			</div>
			<p ng-hide="bioEditMode">{{user.bio}}</p>
			<div ng-show="bioEditMode">
				<textarea style="width:100%;height:7em;resize: none;" placeholder="Describe yourself here..." ng-model="bio2"></textarea>
				<button class="btn btn-default pull-right" style="margin-left:5px;" ng-click="bioEditMode = false;">
					Cancel
				</button>
				<button class="btn btn-primary pull-right" id="edit" ng-click="editBio()">
					<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;Save
				</button>
				
			</div>


		</div>
		<div class="row" ng-show="extras">
			<div class="page-header">
				<h3>Change Password</h3>
			</div>
			<div class="col-md-12 col-xs-12">
				<div class="alert alert-{{error.type}} alert-dismissible login-alert" ng-show="error.enabled" role="alert">
			        <button type="button" class="close" aria-label="Close" ng-click="error.enabled = false"><span aria-hidden="true">&times;</span></button>
			        <div dynamic="error" style="display:inline;"></div>
			    </div>
				<form id="changePassword" class="jumbotron panel" ng-submit="changePassword(this)">
					<div class="form-group form-group-lg">
					    <input type="password" class="form-control input-lg" placeholder="Current Password" class="ng-hide" ng-model="newPassword.current" ng-required="true">
					</div>
					<div class="form-group form-group-lg">
					    <input type="password" class="form-control input-lg" placeholder="Password" ng-model="newPassword.password1" ng-required="true">
					</div>
					<div class="form-group form-group-lg">
					    <input type="password" class="form-control input-lg" placeholder="Password Confirm" ng-model="newPassword.password2" ng-required="true">
					</div>
					<button type="submit" class="btn-lg btn-primary btn-block">Change</button>
				</form>
			</div>
		</div>
	</div>
</div>