/**
 * The styles for the profile page
 * Author: Tim
 */

#changePassword {
}

#avatar {
	width:200px;
	height:200px;

	background:#ececec url('http://www.reactionface.info/sites/default/files/imagecache/Node_Page/images/4e584a22eddc6c06410053e4.jpg');
	background-size:100%;

}

#profileInfo {
	
	margin-right: auto;
	margin-left: auto;
}

#profileInfo h3 {
}

#profileStats {
	text-align: center;

}

.profile {
	padding-top:2em;
}

.profile .row {
}