@import "../bower_components/bootstrap/less/bootstrap";
@import "variables";

@import "../src/Login/login";


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.main-view {
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0;
  .top-push{
    margin-top:1em;
  }
}
body{
  background-image: url("../assets/images/bg.jpg");
  background-size:cover;
  background-attachment: fixed;
  background-position: center center;
}

comp-struct > div{
  height:50px;
  width: 50px;
  top:0;
  position: relative;

  canvas {
    position:absolute;
  }

  .stage {
    width:100%;
    padding: 10px;
  }
  .event-container {
    height:100%;
    float:left
  }
  .event {
    width: 10px;
    max-width: 100%;
    margin: auto;
    height:100%;
    max-height: 20px;
    text-align: center;
    text-overflow: ellipsis;
  }
  &.detail {
    height:100px;
    width:200px;
    .event {
      height:100%;
      width:70px;
      background:skyblue;
      &.done {
        background: forestgreen;
      }
      p {
        height: 100%;
        width: 100%;
        overflow: hidden;
      }
    }

    .event-container {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}
