// Author: Jason McTaggart
// Overrides variables in the bootstrap variables file

@white: #FFFFFF;

@darkPrimaryColor:   #0097A7;
@primaryColor:       #00BCD4;
@lightPrimaryColor:  #B2EBF2;
@textPrimaryColorHover: #e6e6e6;
@accentColor:        #03A9F4;
@primaryTextColor:   #212121;
@secondaryTextColor: #727272;
@dividerColor:       #B6B6B6;

@primaryTextColor:   @white;

@btn-primary-bg: @accentColor;
@btn-primary-color: @primaryTextColor;

@panel-bg:fade(@white,95%);
@panel-default-heading-bg:@primaryColor;
@panel-shadow: 2px 2px 2px 1px #333;
@panel-default-text: @primaryTextColor;
@panel-body-text: @primaryTextColor;
@panel-default-border: rgba(0,0,0,0);
@panel-border-radius: 0px;

@pagination-active-color:@white;
@pagination-active-bg:@darkPrimaryColor;
@pagination-bg:@primaryColor;
@pagination-border:@lightPrimaryColor;
@pagination-active-border: @primaryColor;
@pagination-color:@white;
@pagination-disabled-bg:@primaryColor;
@pagination-disabled-color:@secondaryTextColor;
@pagination-disabled-border:@lightPrimaryColor;
//@panel-heading

@text-color: @secondaryTextColor;

@navbar-default-bg: @darkPrimaryColor;
@navbar-default-color: @primaryTextColor;
@navbar-default-link-color: @primaryTextColor;
@navbar-default-link-hover-color: @textPrimaryColorHover;
@navbar-default-toggle-icon-bar-bg: @primaryTextColor;
@navbar-default-toggle-hover-bg: @primaryColor;
//@navbar-default
