// Author: Jason McTaggart
// Overrides variables in the bootstrap variables file

@white: #FFFFFF;

@darkPrimaryColor:   #0097A7;
@primaryColor:       #00BCD4;
@lightPrimaryColor:  #B2EBF2;
@textPrimaryColorHover: #e6e6e6;
@accentColor:        #03A9F4;
@primaryTextColor:   #212121;
@secondaryTextColor: #727272;
@dividerColor:       #B6B6B6;

@textPrimaryColor:   @white;

@btn-primary-bg: @accentColor;
@btn-primary-color: @textPrimaryColor;

@panel-bg:rgba(255,255,255,0.95);
@panel-default-heading-bg:@primaryColor;
@panel-shadow: 2px 2px 2px 1px #333;
@panel-default-text: @textPrimaryColor;
@panel-body-text: #000000;
@panel-default-border: rgba(0,0,0,0);

@pagination-active-color:@white;
@pagination-active-bg:@darkPrimaryColor;
@pagination-bg:@lightPrimaryColor;
//@panel-heading

@text-color: @secondaryTextColor;

@navbar-default-bg: @darkPrimaryColor;
@navbar-default-color: @textPrimaryColor;
@navbar-default-link-color: @textPrimaryColor;
@navbar-default-link-hover-color: @textPrimaryColorHover;
@navbar-default-toggle-icon-bar-bg: @textPrimaryColor;
@navbar-default-toggle-hover-bg: @primaryColor;
//@navbar-default
